<!DOCTYPE html>
 <!-- Author: Lauren Etheridge
   ITD212 | Prof. Oliverio
   Programming Assign 3 | Task List API
   Date: 17 April 2017 -->
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PNTS-TSK LST|API</title>

 <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	 <!-- Collect the nav links, forms, and other content for toggling -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#inverseNavbar1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="geolocation.html">
          <img src="/images/trousers_logo.png" width="20" height="40"/>
          <h5>PANTS TASK SERVICES</h5>
        </a>
      </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="inverseNavbar1">
          <ul class="nav navbar-nav navbar-right">
            {{#if user}}
              <li><a href="/">TSK LIST</a></li>
              <li><a href="/users/logout">Logout</a></li>
            {{else}}
              <li><a href="/users/login">Login</a></li>
              <li><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
          </div>
          <!-- /.navbar-collapse -->
    </div>
      <!-- /.container-fluid -->
        </nav>
        <div class="container-fluid">
        <h3 class="text-muted">PANTSLAND - TO/DO LIST</h3>
      </div>


      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>

        
      </div>

      <footer class="footer">
        <h4>Lauren Etheridge</h4>
        <p>ITD212 | Programming Assignment 3 | Task List API</p>
      </footer>

  </div> <!-- /container -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
</body>
</html>
